@font-face {
  src: url("../fonts/robotoRegular.ttf");
  font-family: "RobotoRegular";
}

@font-face {
  src: url("../fonts/robotoThin.ttf");
  font-family: "RobotoThin";
}

@font-face {
  src: url("../fonts/robotoBold.ttf");
  font-family: "RobotoBold";
}